<footer class="footer clearfix">
	<div class="logo-box">
		<img class="logo" src="/img/logo.svg" alt="Logo">
	</div>
	<nav class="clearfix">
		<ul class="footer-links">
			<p>Nawigacja</p>
			<li><a class="footer__link" href="/">Strona główna</a></li>
			<li><a class="footer__link" href="/blog/">Blog</a></li>
		</ul>
        <ul class="footer-links">
			<p>Tech blog</p>
				<li><a class="footer__link" href="/">Przeczytaj o nas</a></li>
			<li><a class="footer__link" href="/blog/">Napisz do nas</a></li>
		</ul>
        <ul class="footer-links">
			<p>Informacje</p>
			<li><a class="footer__link" href="/blog/">Polityka prywatności</a></li>
			<li><a class="footer__link" href="/blog/">Pliki cookie</a></li>
		</ul>
		<ul class="footer-links">
			<p>Obserwuj nas w mediach</p>
			<li class="media-icon"><a href="/blog/"><img src="/img/facebook.svg" alt="Facebook"></a></li>
			<li class="media-icon"><a href="/blog/"><img src="/img/twitter.svg" alt="Twitter"></a></li>
			<li class="media-icon"><a href="/blog/"><img src="/img/linkedin.svg" alt="linkedin"></a></li>
		</ul>
	</nav>
	<div class="copyright">
	<p>Copyright by <span>tech blog</span> &copy;</p>
	</div>
</footer>
</body>
</html>
