<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bootcamp</title>
		<link rel="shortcut icon" href="/img/logo.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/styles.min.css">

	</head>
	{% block body %}
		<body>
		{% endblock %}
		<header class="header clearfix">
			<div class="logo-box">
				<a href="/">
					<img class="logo" src="/img/logo.svg" alt="Logo">
				</a>
			</div>
			<nav class="nav">
				<ul class="clearfix">
					<li>
						<a class="nav__link" href="/">Strona główna</a>
					</li>
					<li>
						<a class="nav__link" href="/blog/">Blog</a>
					</li>
					<li>
						<a class="nav__link" href="/o-nas/">O nas</a>
					</li>
					<li>
						<a class="nav__link" href="/kontakt/">Kontakt</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>
