{% include 'Common/View/header.twig' %}
<nav class="slider">
	<a href="#slide-1"></a>
	<a href="#slide-2"></a>
	<a href="#slide-3"></a>
	<a href="#slide-4"></a>
	<a href="#slide-5"></a>
</nav>
<section id="slide-1" class="container home-page clearfix">
	<div class="row">
		<div class="col-md-6"></div>
		<div class="img-box">
			<img class="slider-img" src="/img/slider1.svg">
		</div>
		<div class="col-md-5">
			<div class="text-box">
				<div class="text-box-img">
					<img class="globe-img--small" src="/img/globe.svg">
				</div>
				<h1 class="heading-primary">
					<span class="heading-primary--main">Nowe Technologie</span>
					<span class="heading-primary--sub">Zobacz jak zmienia się świat!</span>
					<span class="heading-primary--sub-hashtag">#IT</span>
				</h1>
				<div class="text-box-img">
					<img class="globe-img--big" src="/img/globe.svg">
				</div>
			</div>
		</div>
	</div>
</section>

{# <section id="slide-2" class="container home-page clearfix">
	<div class="row">
		<div class="col-md-6"></div>
		<div class="img-box">
			<img class="slider-img" src="/img/slider2.svg">
		</div>
		<div class="col-md-5">
			<div class="text-box">
				<div class="text-box-img">
					<img class="globe-img--small" src="/img/code.svg">
				</div>
				<h1 class="heading-primary">
					<span class="heading-primary--main">Programowanie</span>
					<span class="heading-primary--sub">Poznaj tajniki kodowania</span>
					<span class="heading-primary--sub-hashtag">#Code</span>
				</h1>
				<div class="text-box-img">
					<img class="globe-img--big" src="/img/notepad.svg">
				</div>
			</div>
		</div>
	</div>
</section> #}
{% include 'Common/View/footer.twig' %}
