{% include 'Common/View/header.twig' %}
{% block body %}
	<body class="top-wave">
	{% endblock %}
	<section class="container">
		<h1>O nas</h1>
	</section>
	{% include 'Common/View/footer.twig' %}
</body>
